<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Cool Pen Store</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />

</head>

<body>

    <nav class="navbar">
        <a class="navbar-brand" href="/">Main</a>
        <a class="navbar-brand" th:href="@{'/customer/' + ${customer.id}}">Profile</a>
        <a class="navbar-brand" th:href="@{'/cart/' + ${customer.id}}" >Cart</a>
    </nav>

    <main role="main" class="container">

        <div class="starter-template">
            <h1>My Cool Pen Store</h1>
        </div>
        <div class="center">
            <table class="table-center">
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Address</th>
                </tr>
                <tr>
                  <td th:text="${customer.firstName}"></td>
                  <td th:text="${customer.lastName}"></td>
                  <td th:text="${customer.address}"></td>
                </tr>
              </table>
            <ol>
                <li th:each="product : ${products}" th:text="${product.name} + '-' + ${product.description} + '-' + ${product.price}"><a href="/add"> Add to cart</a> </li>
            </ol>
        </div>

    </main>
    <!-- /.container -->

    <script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>

</html>